<section class="featured-item">
    <a class="preview" href="<%= item.url %>" style="background-image: url(<%= item.img %>)"></a>
    <div class="info">
        <div class="category">
            <a href="<%= item.category_url %>"><%= item.category %></a>
        </div>
        <div class="title">
            <a href="<%= item.url %>" title="<%= item.title %>">
                <%= item.title %>
            </a>
        </div>
    </div>
</section>