<%
    /*
let item = {
//    url: "/blog/popular-discussion-topics-on-video-chat-sites",
    url: "/post",
    img: "/img/4.jpg",
    title: "Beauty undefined in Sunlight",
    annotation: `Fly, air beast evening yielding you it seas Void above is let male.
    Made lights bearing signs blessed sixth which after morning.
    Image living were unto subdue fifth. Sixth sea behold unto subdue their seas`,
    date: "February 18, 2014",
    author: "By Ceyron Louis",
    author_link: "https://plus.google.com/114804705990631494102",
    category: "Extras",
    category_url: "extras"
}
*/
%>

<section class="post-preview">
    <div class="header">
        <!--<div class="category">
            In <a href="<%= item.category_url %>"><%= item.category %></a>
        </div>-->
        <h2><a href="<%= item.url %>"><%= item.title %></a></h2>
        <div class="meta">
            <div class="details">
                <!--<span class="author">
                    By <a href="<%= item.title %>">Ceyron Louis</a>
                </span>-->
            </div>
            <span class="date">
                <%= item.getDateString() %>
            </span>

        </div>
    </div>
    <div class="image">
        <a href="<%= item.url %>">
            <img src="<%= item.img %>" alt="">
        </a>
    </div>
    <div class="annotation"><%= item.annotation %></div>
    <a class="read-more" href="<%= item.url %>">
        READ MORE
    </a>
    <div class="social-buttons">
        <div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
            <a class="hi-icon"
               href=""
               target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="hi-icon"
               href=""
               target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="hi-icon"
               href=""
               target="_blank"><i class="fa fa-google"></i></a>
            <a class="hi-icon"
               href=""
               target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
</section>